


body {
    background-color: black;
}

.dropdowns {
    background-color: aqua;
}




























































* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav-link {
    color: #666777;
    font-weight: 500;
    position:relative;
}

.nav-link:hover, .nav-link.active {
    color: #0d6efd;
    
}

.nav-link::before { 
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #0d6efd;
    transition: 0.3s ease-in-out;
}

.nav-link::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}