.logo {

    width: 70px;
    padding-left: 4px;
    padding-top: 10px;
}


body {
    
    background-color: black;
}

.dropdowns {
    background-color: aqua;
}

#intro {
    font-family: Helvetica,sans-serif;
    font-size: 60px;
    /* MOSES JUST CHECKING FEW DIFFERENT LOOKS */
    color: blue; 
    background-color: black; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                   0 0 20px rgba(255, 255, 255, 0.8),
                   0 0 30px rgba(255, 255, 255, 0.8);
    
    
}

.card-front {
    display: flex;
    border: 50px;
    background-color: black;
    margin: 5px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* MOSES- GIVING THE CARD A FULLER BACKGROUNG TO GO WITH THE PAGE */
.card-body {
    display: flex;
    border: 50px;
    background-color: black;
    margin: 5px;
    height: 200px;
    justify-content: center;
    align-items: center;
}


#movie-view {
    color: white;
}

#spotifyInfo {
    color: white;
}
#spotifyInfo i{
    font-size: 30px;
}
#spotifyInfo a{
    text-decoration: none;
}































































































































































































































































































































































































































































































































* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Logo {
    width: 110px;
    height: 100px;
    transform: translateY(-2px);
    padding-top: 18px;
}

body { padding-top: 40px; }

.navbar {
    background-color: black;
    height: 80px;
}

.navbar-brand {
    font-weight: 500;
    color: #0d6efd;
    font-size: 24px;
    transition: 0.3s;
}
.nav-link {
    color: white;
    font-weight: 500;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;    
}

.nav-link:hover, .nav-link.active {
    color: #0d6efd !important;
}

@media (min-width: 991px) {
.nav-link::before { 
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #0d6efd;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}
}

.footer-title h5 {
    font-size: 40px;
    color: white;
    padding-left: 15px;
}

.footer-links a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.social-links .fa-brands {
    font-size: 40px;
    padding: 15px;
}

.social-links .fa-brands:hover {
    background-color: lightblue;
    box-shadow: 0px 0px 5px 3px lightblue;
}

.social-links h5 {
    font-size: 25px;
    color: white;
}

#footer-logo {
    height: 250px;
    border-radius: 5px;
}

/* style for the pop up, Rahmatullah working on it */
/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }

  /* Styles for the popup */
  .popup {
    color: white;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 50px blueviolet;
  }

  /* Styles for the close button */
  .close {
    background-color: #802525; ;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px 1px red;
    padding: 5px;
    border-radius: 10px;
  }

























  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
/*   
  #movie-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  #movie-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    transform: skewX(-20deg);
    animation: shine 1.5s infinite;
  } */

  @keyframes shine {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

.moreInfo {
    font-size: 30px;
    background-color: blue;
    color: white;
    margin-block-end: auto;
    margin-left: 250px;
    box-shadow: 0 0 10px 1px blueviolet;
    padding: 5px;
    border-radius: 10px;
}

.thumbs {
    font-size: 30px;
    /* background-color: blue; */
    color: white;
    margin-block-end: auto;
    /* margin-left: 250px; */
    /* box-shadow: 0 0 10px 1px blueviolet; */
    padding: 5px;
    border-radius: 10px;
    /* margin-right: 200px; */
}






















  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 


